*{
    margin: 0 px 10px;
    padding: 0;
}
.container{
    min-height: 200vh;
    background-color: whitesmoke;
    color: black;
    border: 15px solid black;
    /* border-radius: 3px 3px; */
}
.content{
    max-width: 1500px;
    margin: 0 auto;
}
.top_section h1 {
    font-size:90px;
    font-weight: bold;
    color: rgb(157, 157, 164);
}
.top_section h4 {
    text-align: end;
    font-size: 60px;
}
.top_section{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.image_container,img{
    border-radius: 90px;
    height:400px;
    width:499px;
}
.about_section h2{
    font-size: 80px;
}
.about_section p {
    font-size: 30px;
    display: inline-block;
    text-align: justify;
    line-height: 30px;
    letter-spacing: 1.2px;
}
.biography h3{
    font-size: 80px;
    
}
.biography li{
    list-style: none;
    font-size: 30px;
    display: inline-block;
    text-align: justify;
    line-height: 40px;
    letter-spacing: 1.2px;
}